<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>mocadream</display-name>
  <jsp-config>
  	<jsp-property-group>
  		<url-pattern>*.jsp</url-pattern>
  		<include-prelude>/common/header.jsp</include-prelude>
  	</jsp-property-group>
  	<jsp-property-group>
  		<url-pattern>/main.jsp</url-pattern>
  		<include-prelude>/common/navbar.jsp</include-prelude>
  	</jsp-property-group>
  	<jsp-property-group>
  		<url-pattern>/main.jsp</url-pattern>
  		<include-coda>/common/footer.jsp</include-coda>
  	</jsp-property-group>
  	<jsp-property-group>
  		<url-pattern>/users/*</url-pattern>
  		<include-prelude>/common/navbar.jsp</include-prelude>
  	</jsp-property-group>
  	<jsp-property-group>
  		<url-pattern>/users/*</url-pattern>
  		<include-coda>/common/footer.jsp</include-coda>
  	</jsp-property-group>
  	<jsp-property-group>
  		<url-pattern>/board/*</url-pattern>
  		<include-prelude>/common/navbar.jsp</include-prelude>
  	</jsp-property-group>
  	<jsp-property-group>
  		<url-pattern>/board/*</url-pattern>
  		<include-coda>/common/footer.jsp</include-coda>
  	</jsp-property-group>
  	<jsp-property-group>
  		<url-pattern>/idFindForm.jsp</url-pattern>
  		<include-prelude>/common/navbar.jsp</include-prelude>
  	</jsp-property-group>
  	<jsp-property-group>
  		<url-pattern>/idFindForm.jsp</url-pattern>
  		<include-coda>/common/footer.jsp</include-coda>
  	</jsp-property-group>
  	<jsp-property-group>
  		<url-pattern>/idFindResult.jsp</url-pattern>
  		<include-prelude>/common/navbar.jsp</include-prelude>
  	</jsp-property-group>
  	<jsp-property-group>
  		<url-pattern>/idFindResult.jsp</url-pattern>
  		<include-coda>/common/footer.jsp</include-coda>
  	</jsp-property-group>
  	<jsp-property-group>
  		<url-pattern>/joinForm.jsp</url-pattern>
  		<include-prelude>/common/navbar.jsp</include-prelude>
  	</jsp-property-group>
  	<jsp-property-group>
  		<url-pattern>/joinForm.jsp</url-pattern>
  		<include-coda>/common/footer.jsp</include-coda>
  	</jsp-property-group>
  	<jsp-property-group>
  		<url-pattern>/loginForm.jsp</url-pattern>
  		<include-prelude>/common/navbar.jsp</include-prelude>
  	</jsp-property-group>
  	<jsp-property-group>
  		<url-pattern>/loginForm.jsp</url-pattern>
  		<include-coda>/common/footer.jsp</include-coda>
  	</jsp-property-group>
  	<jsp-property-group>
  		<url-pattern>/map.jsp</url-pattern>
  		<include-prelude>/common/navbar.jsp</include-prelude>
  	</jsp-property-group>
  	<jsp-property-group>
  		<url-pattern>/map.jsp</url-pattern>
  		<include-coda>/common/footer.jsp</include-coda>
  	</jsp-property-group>
  	<jsp-property-group>
  		<url-pattern>/moca_view.jsp</url-pattern>
  		<include-prelude>/common/navbar.jsp</include-prelude>
  	</jsp-property-group>
  	<jsp-property-group>
  		<url-pattern>/moca_view.jsp</url-pattern>
  		<include-coda>/common/footer.jsp</include-coda>
  	</jsp-property-group>
  	<jsp-property-group>
  		<url-pattern>/orderMenu.jsp</url-pattern>
  		<include-prelude>/common/navbar.jsp</include-prelude>
  	</jsp-property-group>
  	<jsp-property-group>
  		<url-pattern>/orderMenu.jsp</url-pattern>
  		<include-coda>/common/footer.jsp</include-coda>
  	</jsp-property-group>
  	<jsp-property-group>
  		<url-pattern>/pwFindForm.jsp</url-pattern>
  		<include-prelude>/common/navbar.jsp</include-prelude>
  	</jsp-property-group>
  	<jsp-property-group>
  		<url-pattern>/pwFindForm.jsp</url-pattern>
  		<include-coda>/common/footer.jsp</include-coda>
  	</jsp-property-group>
  	<jsp-property-group>
  		<url-pattern>/pwFindResult.jsp</url-pattern>
  		<include-prelude>/common/navbar.jsp</include-prelude>
  	</jsp-property-group>
  	<jsp-property-group>
  		<url-pattern>/pwFindResult.jsp</url-pattern>
  		<include-coda>/common/footer.jsp</include-coda>
  	</jsp-property-group>
  	<jsp-property-group>
  		<url-pattern>/way_moca.jsp</url-pattern>
  		<include-prelude>/common/navbar.jsp</include-prelude>
  	</jsp-property-group>
  	<jsp-property-group>
  		<url-pattern>/way_moca.jsp</url-pattern>
  		<include-coda>/common/footer.jsp</include-coda>
  	</jsp-property-group>
  </jsp-config>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
</web-app>